/* .container {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 40px;
  background-color: khaki;
  min-height: 400px;
} */

body {
  background-image: url(./background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-container {
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  padding: 2em;
}

.padding-top {
  padding-top: 9vh;
}
