/* .container {
  margin: 0 auto;
  max-width: 1000px;
  margin-top: 40px;
  background-color: khaki;
  min-height: 400px;
} */

.project-container {
  margin: 0 auto;
  max-width: 95vw;
  max-height: 95vw;
  background-color: khaki;
}

.smallPlease {
  max-width: 400px;
  max-height: 400px;
}
